<div class="mb-3">
    <label class="form-label">Host File URL</label>
    <InputText @bind-Value="Uri" class="form-control" />
</div>
<div class="mb-3">
    <label class="form-label">Re-download Interval</label>
    <InputText @bind-Value="Interval" class="form-control" />
</div>

@code {
    [Parameter]
    public required Engine.RuleHashSetDownloadableHostFile Rule { get; set; }
    [Parameter]
    public EventCallback<Engine.RuleHashSetDownloadableHostFile> RuleChanged { get; set; }
    private string Uri
    {
        get
        {
            return Rule.Uri.ToString();
        }
        set
        {
            Rule.Uri = new Uri(value);
            RuleChanged.InvokeAsync();
        }
    }
    private string Interval
    {
        get
        {
            return Rule.UpdateTimer.Interval.ToString();
        }
        set
        {
            Rule.UpdateTimer.Interval = double.Parse(value);
            RuleChanged.InvokeAsync();
        }
    }
}