@using System.Text.RegularExpressions

<div class="mb-3">
    <label class="form-label">Regular Expression</label>
    <InputTextArea @bind-Value="Regex" class="form-control" rows="20" />
</div>

@code {
    [Parameter]
    public required Engine.Rule Rule { get; set; }
    private string Regex
    {
        get
        {
            return ((Engine.RuleRegex)Rule).Regex.ToString();
        }
        set
        {
            ((Engine.RuleRegex)Rule).Regex = new Regex(value);
        }
    }
    [Parameter]
    public EventCallback<Engine.Rule> RuleChanged { get; set; }
}