@using System.Text.RegularExpressions

<div class="mb-3">
    <label class="form-label">Regular Expression</label>
    <InputTextArea @bind-Value="Regex" class="form-control" rows="20" />
</div>

@code {
    [Parameter]
    public required Engine.RuleRegex Rule { get; set; }
    [Parameter]
    public EventCallback<Engine.RuleRegex> RuleChanged { get; set; }
    private string Regex
    {
        get
        {
            return Rule.Regex.ToString();
        }
        set
        {
            Rule.Regex = new Regex(value);
            RuleChanged.InvokeAsync();
        }
    }
}