@page "/counter"
@rendermode InteractiveServer

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>


@code {
    private int currentCount = 0;
    protected override void OnInitialized()
    {
        Engine.Tikhole.Listener.RecievedRequestData += IncrementCount;
        base.OnInitialized();
    }
    private void IncrementCount(object o, object e)
    {
        currentCount++;
        InvokeAsync(() => StateHasChanged());
    }
}
